// Background
// ------------------------

$background-color: #fff;
$background-color1: #e9f0f4;
$border-color: #999;
$border-high-light: #00a0e4;
$color: #333;
$color-high-light: #5fb9e0;
$color-invert: #fff;
$button-background-color: #007cbb;


// Typography
// -------------------------

$headings-font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Arial, sans-serif;
$font-family: "HelveticaNeue-CondensedBold", "Helvetica Neue", Arial, sans-serif;
$font-h1: 24px;
$font-h2: 18px;
$font-h3: 16px;
$font-normal: 12px;

// Screen size
// -------------------------
$mobile-max-width: 600px;
$tablet-max-width: 1024px;

$mobile-s: 320px;
$mobile-m: 375px;
$mobile-l: 425px;
$tablet-600: 600px;
$tablet-640: 640px;
$tablet-768: 768px;
$tablet-800: 800px;
$tablet-960: 960px;
